.carousel-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.event-card {
    min-width: 300px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 20px;
    flex-shrink: 0;
    transition: 0.3s;
    text-align: left;
}

.event-card:hover {
    background: rgba(0,0,0,0.7);
}

.event-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
}

.event-title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #fff;
}

.event-desc {
    color: #888585;
    text-align: center;
    margin-bottom: 10px;
}

.event-sede {
    color: #7264ec;
    text-align: center;
    font-weight: bold;
}
