@import "tailwindcss";

@layer base {
    * {}

    .input-field {
        @apply w-full bg-black/10 border border-black/20 rounded-lg p-3 text-black placeholder-gray-300 focus:outline-none focus:border-pink-500;
    }
}