<section id="hero" class="h-screen flex items-center justify-center bg-cover bg-center bg-fixed">
    <div class="absolute inset-0 bg-black/60"></div>
    <div class="relative z-10 text-center flex flex-col items-center">
        <div class="bg-white/20 backdrop-blur-xs p-6 rounded-2xl shadow-lg mb-8 flex flex-col items-center">
            <h1 class="font-roboto-c bg-black pl-[0.15em] p-1 text-8xl font-medium tracking-[0.15em] text-center">FACTOR</h1>
            <div class="text-black font-mono min-w-full font-black text-4xl flex items-center justify-between">
                <p>F</p>
                <p>I</p>
                <p>T</p>
            </div>
        </div>
        <div class="bg-purple-400/20 backdrop-blur-sm rounded-2xl p-4 shadow-lg flex flex-col items-center justify-center border-purple-950/50 border-2 border-solid">
            <p class="text-4xl font-medium mb-6 italic">¿Ya te inscribiste?</p>
            <div class="flex space-x-4">
                <a routerLink="/auth/login"
                    class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-3 px-8 rounded-full transition-transform transform hover:scale-105">
                    Iniciar sesión
                </a>
                <a routerLink="/auth/register"
                    class="bg-gray-800 hover:bg-gray-900 text-white font-bold py-3 px-8 rounded-full transition-transform transform hover:scale-105">
                    Registrarte
                </a>
            </div>
        </div>
    </div>
</section>