<div class="mx-6 flex flex-col sm:flex-row sm:items-center justify-between mb-6">
  <div>
    <h1 class="font-atomic text-pink-600 text-6xl sm:text-7xl mb-2">Bitácora</h1>
    <p class="text-gray-900 mt-2 text-2xl">
      Hora: {{ fechaHoraActual() | date:'HH:mm:ss' }},
      Fecha: {{ fechaHoraActual() | date:'fullDate':'':'es' }}
    </p>
  </div>

  <div class="relative w-full sm:w-64 mt-4 sm:mt-0">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor"
         class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-gray-600 pointer-events-none">
      <path stroke-linecap="round" stroke-linejoin="round"
            d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
    </svg>

    <input type="text"
           placeholder="Buscar..."
           class="w-full bg-fuchsia-600 hover:bg-fuchsia-500 font-bold py-2 pl-10 pr-4 rounded-lg text-white"/>
  </div>
</div>

<!-- Navegación debajo del h1 + buscador -->
<nav class="flex flex-wrap self-start justify-start gap-2 sm:gap-4 mb-8 max-w-fit p-2 bg-black/20 backdrop-blur-sm rounded-lg">
    <button (click)="setSubView('ganancias')" [ngClass]="{'active-sub-nav': currentSubView() === 'ganancias'}"
        class="sub-nav-btn">Ganancias</button>
    <button (click)="setSubView('deudores')" [ngClass]="{'active-sub-nav': currentSubView() === 'deudores'}"
        class="sub-nav-btn">Deudores</button>
    <button (click)="setSubView('asistencia')" [ngClass]="{'active-sub-nav': currentSubView() === 'asistencia'}"
        class="sub-nav-btn">Asistencia</button>
    <button (click)="setSubView('renovacion')" [ngClass]="{'active-sub-nav': currentSubView() === 'renovacion'}"
        class="sub-nav-btn">Renovación de cuenta</button>
</nav>
<nav class="flex flex-wrap self-start justify-start gap-2 sm:gap-4 mb-8 max-w-fit p-2 bg-black/20 backdrop-blur-sm rounded-lg">
    <button class="sub-nav-btn">Semanales</button>
    <button class="sub-nav-btn">Mensuales</button>
</nav>
    @switch (currentSubView()) {
    @case ('ganancias') {
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
        <div class="lg:col-span-2 bg-black/20 backdrop-blur-sm p-6 rounded-lg">
            <h3 class="text-2xl font-bold mb-4">Ganancias del Día</h3>
            <table class="w-full text-left text-sm whitespace-nowrap">
                <thead>
                    <tr class="border-b border-gray-700">
                        <th class="p-3">Clave</th>
                        <th class="p-3">Nombre</th>
                        <th class="p-3">Pago</th>
                    </tr>
                </thead>
                <tbody>
                    @for(log of financialLogData; track log.key) {
                    <tr class="border-b border-gray-700 hover:bg-black/20">
                        <td class="p-3">{{log.key}}</td>
                        <td class="p-3">{{log.name}}</td>
                        <td class="p-3 text-green-800">$ {{log.payment}}</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="bg-black/20 backdrop-blur-sm p-6 rounded-lg">
            <h3 class="text-2xl font-bold mb-4">Ganancias de la Semana</h3>
            <div class="h-64 bg-gray-800 rounded-lg flex items-end justify-around p-4 gap-2">
                <div class="w-full h-[20%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[30%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[25%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[50%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[60%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[45%] bg-pink-500 rounded-t-md"></div>
                <div class="w-full h-[80%] bg-pink-500 rounded-t-md"></div>
            </div>
        </div>
    </div>
    }
    @case ('deudores') {
    <div class="bg-black/20 backdrop-blur-sm p-6 rounded-lg">
        <h3 class="text-2xl font-bold mb-4">Bitácora de Deudores</h3>
        <p class="text-gray-400">Aquí se mostrará la tabla de deudores...</p>
    </div>
    }
    @case ('asistencia') {
    <div class="bg-black/20 backdrop-blur-sm p-6 rounded-lg">
        <h3 class="text-2xl font-bold mb-4">Bitácora de Asistencia</h3>
        <p class="text-gray-400">Aquí se mostrará la tabla de llegadas del día...</p>
    </div>
    }
    }
