@import "tailwindcss";

@layer base {
    * {}

    .info-label {
        @apply block text-sm font-bold text-black mb-1;
    }

    .info-field {
        @apply w-full bg-white/10 border border-transparent rounded-lg p-3 text-black;
    }

    .cal-day {
        @apply h-8 flex items-center justify-center rounded;
    }

    .attended {
        @apply bg-green-500 text-black font-bold;
    }

    .missed {
        @apply bg-red-500 text-black font-bold;
    }
}