.carousel-container {
  width: 100%;
  max-width: 900px;
  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  margin: auto;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.carousel-slide img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

/* Botones */
.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  border: none;
  background: rgba(0,0,0,0.4);
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 50%;
  color: #fff;
  transition: 0.3s;
  z-index: 10;
}

.carousel-btn:hover {
  background: rgba(0,0,0,0.7);
}

.prev { left: 15px; }
.next { right: 15px; }
