<section id="trainers" class="py-24 bg-gradient-to-tr from-fuchsia-400 to-gray-900">
    <div class="container mx-auto px-6 text-center">

        <h2 class="text-6xl text-purple-300 font-rock font-bold mb-12">
            Personal
        </h2>

        <!-- BOTONES DE SCROLL -->
        <div class="flex justify-between mb-6">
            <button (click)="scrollLeft()" class="px-4 py-2 bg-black/60 hover:bg-black rounded-xl text-white">
                ⬅
            </button>

            <button (click)="scrollRight()" class="px-4 py-2 bg-black/60 hover:bg-black rounded-xl text-white">
                ➡
            </button>
        </div>

        <!-- CARRUSEL -->
        <div #carousel class="carousel-container">

            @for (trainer of trainers; track trainer.clave_personal) {

            <div class="trainer-card">
                
                <img [src]="trainer.image"
                    class="trainer-image">

                <h3 class="trainer-name">{{ trainer.name }}</h3>

                <p class="trainer-desc">{{ trainer.description }}</p>

            </div>

            }

        </div>

    </div>
</section>
